<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.multi.nuguna.dao.ICartDAO">

	<update id="updateQtyInCart" parameterType="com.multi.nuguna.model.CartVO">
  		UPDATE cart
  		SET cartQty = cartQty + #{cartQty}
  		WHERE memId=#{memId} AND prdNo=#{prdNo}
  	</update>
  	
</mapper>